p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.5rem;
}

.questionIndex {
    font-weight: 600px;
    letter-spacing: 1px;
    color: #465568!important;
    font-size: 1rem;
}

.instruction {
    font-size: 1rem;
    font-weight: 400;
    color: #01245e;
    margin-bottom: 0.25rem !important;
    margin-top: 0;

}

.prompt {
    font-size: 1.5rem;
}